.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
upgrade-test*
__pycache__/
*.pyc
dbt/target/
dbt/dbt_packages/
logs/
gcp/service_account.json
dbt/.user.yml
.airflowignore
.vscode/
.idea/
